.my-dropdown {
  display: inline-block;
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown-menu {
    padding: 0;
    li {
        padding: 0.25rem;
    }
    .dropdown-item {
      border: 1px solid transparent;
      border-radius: 0.2rem;
    }
    .dropdown-item:hover {
      background: #0dcaf0;
      color: white;
      cursor: pointer;
      border: 1px solid #0dcaf0;
    }
  }
}